<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetparking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserDetailParkingActivity"></activity>
        <activity android:name=".Admin.AdminAllParkings" />
        <activity android:name=".Admin.AdminListAllUser" />
        <activity android:name=".Admin.DetailUserActivity" />
        <activity android:name=".Admin.AdminGestionnaireAllow" />
        <activity android:name=".Admin.AddMessageActivity" />
        <activity android:name=".shared.MessageActivity" />
        <activity android:name=".Admin.AdminDetailParking" />
        <activity android:name=".Admin.AdminParkingNotAllowedActivity" />
        <activity android:name=".Gestionnaires.DetailParkingActivity" />
        <activity android:name=".Admin.AdminHomeActivity" />
        <activity android:name=".Gestionnaires.AddParkingActivity" />
        <activity android:name=".Gestionnaires.FournisseurParkingActivity" />
        <activity android:name=".Gestionnaires.FournisseurHomeActivity" />
        <activity android:name=".ShowParkingActivity" />
        <activity android:name=".shared.HomeActivity" />
        <activity android:name=".shared.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shared.InscriptionActivity" />
    </application>

</manifest>